<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- List of mapping files -->
        <mapping class="com.ss.atmlocator.entity.User"/>
        <mapping class="com.ss.atmlocator.entity.Role"/>
    </session-factory>
</hibernate-configuration>