.change_avatar{
    text-align: center;
}
div.last{
    text-align: center;
}
.btn-file { position: relative; overflow: hidden; margin-right: 4px; }

.btn-file input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4); font-size: 23px; direction: ltr; cursor: pointer; }
/* Fix for IE 7: */
* + html .btn-file { padding: 2px 15px; margin: 1px 0 0 0; }

.clearfix{
    text-align: center;
    margin-top: 20px;
}

#bankLogo {
    height: 256px;
    width: 256px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}