.dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}


.popup-menu{
    border:1px solid black;
    position:absolute;
    z-index:1000;
    background-color:#FFFFFF;
    margin:0px;
    padding:0px;
    width:200px;
}
.popup-menu-item{
    padding-left:10px;
    border-bottom:1px solid black;
    display:inline-table;
    width:198px;
}

.popup-menu-item:hover{
    background-color: #c4e3f3;
    cursor: pointer
}

.favorite_marker:hover{
    cursor: pointer
}

.list-group-item:hover{
    cursor: pointer
}
#searchclear {
    position: absolute;
    right: 47px;
    top: 1px;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000;}