.dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.popup-menu{
    border:1px solid black;
    position:absolute;
    z-index:1000;
    background-color:#FFFFFF;
    margin:0px;
    padding:0px;
    width:200px;
}
.popup-menu-item{
    padding-left:10px;
    border-bottom:1px solid black;
    display:inline-table;
    width:198px;
}

.popup-menu-item:hover{
    background-color: #c4e3f3;
    cursor: pointer
}

.favorite_marker:hover{
    cursor: pointer
}

.list-group-item:hover{
    cursor: pointer
}

.favorite_marker{

}